* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato";
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #461a42;
}

.welcome_text {
  width: 400px;
}

.welcome_form p{
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.welcome_form input,
.welcome_form button {
  display: block;
  width: 100%;
}

.welcome_form input {
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  text-align: center;
  border: none;
  border: 2px solid #fff;
  margin-bottom: 15px;
  border-radius: 100px;
  padding: 5px;
}

.welcome_form input:focus {
  outline: none;
}

.welcome_form button {
  padding: 20px 0;
  border: none;
  border-radius: 100px;
  background-color: #8854c0;
  color: #fff;
  font-size: 22px;
  transition: 0.3s all;
}

.welcome_form button:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  cursor: pointer;
}

.quiz {
  display: grid;
  grid-template-rows: 60px auto;
  width: 800px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.quiz_header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.quiz_body {
  padding: 30px 30px;
}
.quiz_user {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
}

.quiz_timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  background-color: #461a42;
  color: #fff;
}
.quiz_body {
  background-color: #ecf0f1;
}

.option_group {
  list-style-type: none;
  margin: 30px 0;
}

.option {
  display: block;
  width: 300px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: 0.4s all;
}

.option:hover {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: 2px solid #8854c0;
  color: #8854c0;
}
.option.active {
  background-color: #8854c0;
  color: #fff;
}
.btn-next {
  border: none;
  padding: 15px 35px;
  background-color: #8854c0;
  color: #fff;
  border-radius: 27px;
  transition: 0.4s all;
}

.btn-next:hover {
  cursor: pointer;
  background-color: #fff;
  color: #8854c0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.avatar {
  height: 80px;
  width: 80px;
  padding-top: 10px;
  margin-right: 30px;
}

.username{
  color: #fff;
  font-size: 1.5em;
  padding-top: 20px;
}
.userpoints,
.usertime {
  color: #fff;
  /* text-align: center; */
  /* margin-top: 15px; */
  padding-left: 100px;
}

.end
{
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 700px;
  height: 100%;
}

.end > p
{
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 100;
}

.card
{
  display: flex ;
  margin-left: 10%;
  margin-bottom: 20px;
  width: 80%;
  height: 90px;
  background-color: #000;
  /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
}

.card-accuracy
{
  display: block ;
  margin-left: 10%;
  margin-bottom: 20px;
  width: 80%;
  height: 70px;
  background-color: #000;
  /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
  padding: 5px 16px 16px;
}
.lebel
{
    font-weight: 500;
    font-size: 15px;
    color: hsla(0,0%,100%,.33);
}

.content-card
{
  color: grey;
  font-weight: 300;
}


.progress {
	background-color: red;
	border-radius: 20px;
	position: relative;
	margin: 10px auto;
	height: 15px;
  width: 100%;
 
}

#progress-done {
	background: green;
	/* box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; */
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
  justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.score-time
{
  display: flex;
  /* justify-content: space-between; */
}
.card-score
{
  display: block ;
  margin-left: 9%;
  margin-bottom: 20px;
  width: 40%;
  height: 70px;
  background-color: #000;
  /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
  padding: 5px 16px 16px;
}
.card-time
{
  display: block ;
  margin-left: 2%;
  margin-bottom: 20px;
  width: 40%;
  height: 70px;
  background-color: #000;
  /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
  padding: 5px 16px 16px;
}
.flex-view
{
  display: flex;
  flex-wrap: nowrap;
}

.title-value
{
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
  flex-direction: column;
  color: white ;

}
.info-title
{
  opacity: 0.33;
  font-size: 15px;
}

.restart button {
  width: 80%;
  margin-left: 10%;
  padding: 10px 0;
  border: none;
  border-radius: 100px;
  background-color: #8854c0;
  color: #fff;
  font-size: 22px;
  transition: 0.3s all;
}

.restart button:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  cursor: pointer;
}
